<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update Provider</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5">
		<h3>Update Provider</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#"
						th:action="@{/provider/update/{id}(id=${provider.id})}"
						th:object="${provider}" method="post">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name" class="col-form-label">Name:</label>
								 <b><span th:text="*{name}"></span></b>	
							</div>
							
							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email:</label> 
								<b><span th:text="*{email}"></span></b>
								
							</div>
							<div class="form-group col-md-8">
								<label for="address" class="col-form-label">Address:</label>
								<b><span th:text="*{address}"></span></b>
							</div>
							<div class="container my-2">
								<div class="card">
									<div class="card-body">
										<div th:switch="${articles}" class="container my-5">
											
											<div class="col-md-10">
												<h2 th:case="null">No Articles yet!</h2>
												<div th:case="*">
													<p class="my-5">
												<i class="fas fa-list ml-2"> List of Articles</i>
													</p>
													<table class="table table-striped table-responsive-md">
														<thead>
															<tr>
																<th>Label</th>
																<th>Price</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="article : ${articles}">
																<td th:text="${article.label}"></td>
																<td th:text="${article.price}"></td>
																
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-8">
								<a th:href="@{/providers/list}" class="btn btn-primary">
									Liste des providers </a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>